main {
    display: flex; 
    min-height: 100vh; 
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;;
}

table { 
    border-collapse: collapse; 
    margin-top: -10rem;
    width: 20rem; 
    max-width: 90%; 
    text-align: center;
    
    box-shadow: 0.25rem 0.25rem 1rem #628ca6;
}

table td{
    border: .1rem solid #e6e6e6; 
    margin: 0; 
    padding: .5rem;
}

table thead tr:first-child {
    background-color: #e7f0ed;
    background-color: #628ca6;
    background-color: #7fb9c2;
    font-size: 1.5rem;
    font-weight: 800;
}

table thead tr:last-child {
    background-color: #e7f0ed;
    background-color: #628ca6;
    color: #fff;
    font-weight: 800;
}

table tbody tr {
    background-color: #e7f0ed;
}

table tbody tr:nth-child(even) {
    background-color: #e7ffed;
}

table tbody tr:nth-child(4) td:last-child{
    background-color: #628ca6;
    color: #fff;
}

table tfoot * {
    background-color: #7fb9c2;
}
