@media only screen and (max-width: 5em) {



    nav button{
        display: flex;
    }

    nav ul.hide{
        display:none;
    }

    nav ul{
        padding: 10px;
    }
    
    nav ul li{
        flex: 100%;
        display: inline;
    }

    nav ul li a{
        border: none;
        display: inline;
        border-radius: 10px;
        box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
        
    }


}
