@import url('https://fonts.googleapis.com/css?family=Kalam|Acme');

img {
    background: #F1F1FA;
    width: 400px;
    height: 300px;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

h1{
    text-align: center;
    font-family: "Acme";
}

/*footer*/
footer {
    background-color: #ffffff;
    color: #043358;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    margin: 0 auto;
    padding: .5rem;
    font-family: "Acme";
}
  
footer a {
    color: unset;
} 

#updated {
    color: var(--ltblue);
    font-size: 1em; 
    margin:.5em;	
}